/* Модальное окно заказа*/
.order-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.order-modal.active {
    display: flex;
    opacity: 1;
}

.order-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
}

.order-modal-content {
    position: relative;
    width: 35%;
    background: #cf9e89;
    z-index: 10001;
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.order-modal.active .order-modal-content {
    transform: scale(1);
}

.section-title {
    font-size: 2rem;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.form-group {
    margin-bottom: 10px;
    padding: 10px 10px;
    text-align: center;
}

.form-group input {
    width: 90%;
    padding: 12px 15px;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    font-size: 1.5rem;
    transition: border-color 0.3s ease;
    font-family: inherit;
}
.btn-primary{
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #c2410c;
    color: white;
    border: #c2410c;
    border-radius: 8px;
}

.message {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-family: inherit;

}

.order-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #c2410c;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 10002;
}

.order-modal-close:hover {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.8);
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .order-modal-content {
        width: 95%;
    }

    .order-modal-content img {
        height: 90vh;
    }

    .order-modal-close {
        top: 10px;
        right: 10px;
        width: 45px;
        height: 45px;
        font-size: 1.5rem;
    }
}