<header class="header">
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <img src="/img/logo.jpg" alt="Логотип" class="logo-img">
                <h2>НАУГОРСКАЯ<br>МАСТЕРСКАЯ</h2>
            </div>
            <ul class="nav-menu">
                <li><a href="/" class="nav-link">Главная</a></li>
                <li><a href="/promo/" class="nav-link">Акции</a></li>
                <li><a href="/products/" class="nav-link">Памятники</a></li>
                <!-- <li><a href="/services" class="nav-link">Услуги</a></li> -->
                <li class="dropdown">
                    <a  href="/services/oformlenie/" class="nav-link dropdown-toggle">Услуги <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/services/oformlenie/" class="dropdown-link">Оформление</a></li>
                        <li><a href="/services/blagoustroistvo/" class="dropdown-link">Благоустройство</a></li>
                    </ul>
                </li> 
                <li><a href="/about/" class="nav-link">О нас</a></li>
                <li><a href="/contacts/" class="nav-link">Контакты</a></li>
                <li id="authMenuSlot"><a href="/login/" class="nav-link">Войти</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</header>
<script type="module" src="/scripts/initAuthMenu.js"></script>

